$primary-color:#771c62;
$primary-color-light: desaturate(lighten($primary-color,25%),20%);
$primary-color-extra-light: desaturate(lighten($primary-color,60%),35%);
$primary-color-dark: darken($primary-color,5%);

//$secondary-color: complement($primary-color);
$secondary-color: #3a015c;
$secondary-color-light: desaturate(lighten($secondary-color,15%),40%);

$gray-light: #d6d3d0;
$gray-dark: #969391;